.board-menu-wrapper {
  position: fixed;
  top: 44px;
  bottom: auto;
  max-height: calc(100% - 48px);
  box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 280px;
  z-index: 10;
}

.board-menu {
  margin: 8px 4px 8px 8px;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-body-wrapper {
  margin: 16px 0 8px;
  border-top: 1px solid #5e6c84;
}

.board-name {
  margin: 5px;
  color: #5e6c84;
  cursor: pointer;
}

.add-board {
  text-decoration: underline;
  color: #5e6c84;
  margin: 5px;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.input-form {
  color: #5e6c84;
  margin-top: 4px;
}

.board__delete {
  width: 90px;
  font-size: 13px;
  color: #172b4d;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  cursor: pointer;

  margin-left: auto;
}

.board__delete:hover {
  cursor: pointer;
}
