.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  height: 70px;
  font-size: 1rem;
  font-weight: 900;
}

.footer_container {
  display: flex;
  align-items: center;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 10px;
  margin: 0px auto;
}

.footer_info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.github_info, .rs_info {
  display: flex;
  align-items: center;
}

.github_links,
.year {
  display: flex;
  justify-content: center;
  color: #000000;
}

.github_link {
  text-decoration: none;
  color: #000000;
  align-items: center;
  text-align: center;
  padding: 0 5px;
}

.rs_link {
  margin: 5px auto;
  display: flex;
}

.rs_logo {
  height: 20px;
  width: 60px;
}
