.checklist__header {
  text-align: center;
  color: #5e6c84;
  line-height: 40px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  margin: 0 12px 14px;
}

.checklist__wrapper {
  position: absolute;
  padding: 5px;
  background-color: #fff;

  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  z-index: 70;
}

.checklist__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  padding-left: 10px;
  margin: 0;

  color: #6b778c;
  font-weight: 500;
  z-index: 40;
}

.checklist__close:hover {
  cursor: pointer;
}

.checklist__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.checklist__textarea-description {
  margin-bottom: 8px;
  padding: 8px 12px;
  width: 100%;
  height: 36px;

  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fafbfc;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  resize: none;
}

.checklist__textarea-description:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.checklist__textarea-description:hover {
  background-color: #ebecf0;
  box-shadow: inset 0 0 0 2px #dfe1e6;
}

.checklist__add {
  width: 74px;
}

.checklist-section__title {
  padding: 8px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 80px;
  height: 34px;
  flex-grow: 1;

  font-size: 16px;
  font-weight: 800;

  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  resize: none;
  cursor: pointer;
}

.checklist-section__title::placeholder {
  color: #172b4d;
  opacity: 1;
}

.checklist-section__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  padding: 5px;
}

.checklist-section__delete {
  position: absolute;
  top: 7px;
  right: 0;
  margin: 0 16px;
  padding: 0 12px;

  color: #172b4d;
  line-height: 40px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  z-index: 5;

  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.checklist-section__delete:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

.checklist__title-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.checklist__progress {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  margin: 4px 0 10px;
}

.progress__percentage {
  width: 32px;
  color: #5e6c84;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
}

.progress__bar {
  position: relative;
  flex-grow: 1;
  margin-right: 16px;
  height: 8px;
  background: rgba(9, 30, 66, 0.08);
  border-radius: 4px;
  overflow: hidden;
}

.progress__bar_current {
  background-color: #5ba4cf;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition-property: width, background-color;
  transition-duration: 0.14s;
  transition-timing-function: ease-in;
}

.checklist__add-item {
  margin: 5px;
  padding: 6px 12px;
  color: #172b4d;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  cursor: pointer;
  resize: none;
  width: 100px;
  height: 44px;
}

.checklist__add-item::placeholder {
  color: #172b4d;
  opacity: 1;
}

.checklist__add-item:hover {
  background-color: rgba(9, 30, 66, 0.08);
  box-shadow: none;
  border: none;
}

.checklist__add-item:focus {
  height: 44px;
  margin-top: 8px;
  margin-bottom: 0px;
  width: calc(100% - 20px);
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  color: #172b4d;
  cursor: text;
  overflow: hidden;
  overflow-wrap: break-word;
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + .checkbox-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + .checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + .checkbox-label::before {
  border-color: #0079bf;
  background-color: #0079bf;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + .checkbox-label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + .checkbox-label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus + .checkbox-label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + .checkbox-label::before {
  border-color: #80bdff;
}

.checkbox-label {
  font-size: 14px;
  cursor: pointer;
}

.checkbox__delete {
  width: 90px;
  font-size: 13px;
  color: #172b4d;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  cursor: pointer;

  margin-left: auto;
}

.checkbox__delete:hover {
  cursor: pointer;
}
