.header__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  background-color: #026aa7;
  padding: 4px;
}

.header__left_column {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

.trello__icon {
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  line-height: 1;
}

.header__right_column {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.button__boards {
  border-radius: 3px;
  border: 0;
  text-decoration: none;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  box-shadow: none;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  line-height: 32px;
  margin: 0 4px 0 0;
  padding: 0;
  white-space: nowrap;
  height: 32px;
  width: 90px;
}

.button__boards:hover,
.button__profile:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}

.header__title {
  display: block;
  position: relative;
  flex-shrink: 0;
  height: 30px;
  margin-top: 1px;
}

.header__img {
  background-image: url(../../assets/img/header-logo-2x.01ef898811a879595cea.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 80px 30px;
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 80px;
}

.button__profile {
  align-items: center;
  background-color: #0354ca;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 100%;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 28px;
  margin: 0 4px 0 0;
  padding: 0;
  opacity: 1;
  height: 32px;
  width: 32px;
  overflow: hidden;
  white-space: nowrap;
}
