.card-list {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.card-list__header {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  height: 20px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
}

.card-list__bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  max-height: 100%;

  white-space: normal;
  align-items: baseline;
  color: #172b4d;
}

.card-list__header {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.card-content {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
}

.card-header {
  flex: 0 0 auto;
  padding: 10px 8px;
  position: relative;
  min-height: 20px;
  display: flex;
  flex-direction: row;
}

.card-list__add-btn {
  flex: 1 0 auto;
  position: relative;
  padding: 4px 8px;

  text-decoration: none;
  user-select: none;
  color: #5e6c84;
  border-radius: 3px;
}

.card-list__add-btn:hover {
  background-color: rgba(9, 30, 66, 0.08);
  color: #172b4d;
  cursor: pointer;
}

.card-list__body {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  max-height: calc(100vh - 350px);
}

.card-list__menu-btn {
  color: #6b778c;
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  font-weight: 600;
  cursor: pointer;
}

.card-name {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  margin: -4px 0;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
  width: 95%;
  outline: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  cursor: pointer;
}

.card-name:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.card-list__inner {
  color: rgb(23, 43, 77);
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.black-back {
  opacity: 0.02;
}

.rotate {
  animation: rotating 0.5s linear 1 forwards;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(20deg);
  }
}

.card-list__settings-btn {
  padding: 5px;
}

.card-list__bottom {
  width: 100%;
}

.card-list__add-card-block {
  width: 100%;
}

.add-card-block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  transition: margin 85ms ease-in, height 85ms ease-in;
  margin: 4px 0 0;
}

.add-card-block__add-card-btn {
  padding: 6px 12px;

  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
}

.add-card-block__add-card-btn:focus {
  outline: none;
}
.add-card-block__add-card-btn:active {
  outline: none;
}

.add-card-block__add-card-btn:hover {
  background-color: #61bd4f;
  box-shadow: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.add-card-block__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-card-block__close-btn {
  text-decoration: none;
}

.close-input {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 2.5rem;
  margin-left: 10px;
}
