.card-list_wrapper {
  background-color: #ebecf0;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
  width: 272px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.add-list-btn_wrapper {
  background-color: hsla(0, 0%, 100%, 0.24);
  cursor: pointer;
}

.add-list-btn_wrapper:hover {
  background-color: hsla(0, 0%, 100%, 0.431);
}

.span-placeholder {
  color: #fff;
  padding: 6px 8px;
  transition: color 85ms ease-in;
}

.form {
  display: block;
  margin-top: 0em;
}

.open-add-list {
  color: #fff;
}

.span-text {
  font-size: 1.14rem;
  line-height: 20px;
  padding-bottom: 2px;
}

.plus {
  font-size: 1.5rem;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.input-new-card {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
}

.addBtn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  transition: margin 85ms ease-in, height 85ms ease-in;
  margin: 4px 0 0;
}

.add-button {
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  border-radius: 3px;
}

.close-input {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 2.5rem;
  margin-left: 10px;
}
