.card {
  color: #172b4d;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.popup__title {
  text-align: center;
}

.popup__list-name {
  text-decoration: underline;
}

.popup__list-text {
  padding-left: 9px;
}

.popup__card-name {
  font-size: 20px;
  height: 32px;
}

.popup__description-wrapper {
  padding: 5px;
}

.popup__description {
  font-size: 16px;
}

.popup__fake-description {
  display: block;
  min-height: 45px;
  padding: 8px 12px;

  color: #172b4d;
  background-color: rgba(39, 81, 155, 0.08);
  border-radius: 3px;
  text-decoration: none;
}

.popup__fake-description:active {
  background-color: #e4f0f6;
  color: #0079bf;
  outline: 0;
}
