.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  height: 100px;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 25px;
}

.footer_container {
  display: flex;
  align-items: center;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 10px;
  margin: 0px auto;
}

.github_logo {
  height: 35px;
  width: 35px;
  margin: 5px auto;
}

.github_info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.github_links,
.year {
  display: flex;
  justify-content: center;
  color: #000000;
}

.github_link {
  text-decoration: none;
  color: #000000;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.rs_link {
  margin: 0px auto;
}

.rs_image {
  height: 80px;
  width: 160px;
}
