@import '~normalize.css';

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: rgb(43, 45, 46);
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
