.add-button {
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  border-radius: 3px;
  cursor: pointer;
}

.close-input {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 2.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.input-new-card {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  line-height: 20px;
  padding: 8px 12px;
}

.element-textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 54px;
  width: 100%;
}
